@font-face {
  font-family: "M PLUS 1p";
  src: url("/public/fonts/MPLUS1p-Black-ttf/MPLUS1p-Black.ttf") format("TrueType");
  src: url("/public/fonts/MPLUS1p-Black-otf/MPLUS1p-Black.otf") format("OpenType");
  src: url("/public/fonts/MPLUS1p-Black-web/MPLUS1p-Black.woff") format("WebOpen");
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "M PLUS 1p";
  src: url("/public/fonts/MPLUS1p-Black-ttf/MPLUS1p-Bold.ttf") format("TrueType");
  src: url("/public/fonts/MPLUS1p-Black-otf/MPLUS1p-Bold.otf") format("OpenType");
  src: url("/public/fonts/MPLUS1p-Black-web/MPLUS1p-Bold.woff") format("WebOpen");
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "M PLUS 1p";
  src: url("/public/fonts/MPLUS1p-Black-ttf/MPLUS1p-ExtraBold.ttf") format("TrueType");
  src: url("/public/fonts/MPLUS1p-Black-otf/MPLUS1p-ExtraBold.otf") format("OpenType");
  src: url("/public/fonts/MPLUS1p-Black-web/MPLUS1p-ExtraBold.woff") format("WebOpen");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "M PLUS 1p";
  src: url("/public/fonts/MPLUS1p-Black-ttf/MPLUS1p-Medium.ttf") format("TrueType");
  src: url("/public/fonts/MPLUS1p-Black-otf/MPLUS1p-Medium.otf") format("OpenType");
  src: url("/public/fonts/MPLUS1p-Black-web/MPLUS1p-Medium.woff") format("WebOpen");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "M PLUS 1p";
  src: url("/public/fonts/MPLUS1p-Black-ttf/MPLUS1p-Regular.ttf") format("TrueType");
  src: url("/public/fonts/MPLUS1p-Black-otf/MPLUS1p-Regular.otf") format("OpenType");
  src: url("/public/fonts/MPLUS1p-Black-web/MPLUS1p-Regular.woff") format("WebOpen");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noticia Text";
  src: url("/public/fonts/Noticia_Text-ttf/NoticiaText-Regular.ttf") format("TrueType");
  src: url("/public/fonts/Noticia_Text-otf/NoticiaText-Regular.otf") format("OpenType");
  src: url("/public/fonts/Noticia_Text-web/NoticiaText-Regular.woff") format("WebOpen");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}



















