// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);
$gutter: $grid-gutter-width;

$base-font-size: 1rem;

//
// Variables
// ---------------------------

// Colors
// -------------------------
$white:                     #ffffff !default;
$black:                     #000000 !default;
$dark:                      #1C202E !default;
$grey:                      #6a7077 !default;
$lightgrey:                 rgba(0, 0, 0, 0.45) !default;
$blue:                      #000A63 !default;
$red:                       #E30611 !default;
$green:                     #00C294 !default;
//---------------------------
$primary:                   #F61067;
$secondary_100:             #5E239D;
$secondary_200:             #3A0475;
$secondary_300:             #30124E;
$secondary_400:             #150433;

$Tetrary:                   #00F0B5;
$Tetrary_100:               #6DECAF;
$WhiteGrey:                 #FCFCFC;
$LightGrey:                 #F4F4ED;

$TextHeaders:               #30233D;
$TextMain:                  #776C82;
$TextGrey:                  #9B94A3;

$Error:                     #F0002B;
$Success:                   #10F65E;
$Warning:                   #F67110;
$Info:                      #00A8F0;

// Scaffolding
// -------------------------
$bodyBackground:            $white !default;
$textColor:                 $black !default;
$hrBorder:                  $black !default;


// Links
// -------------------------
$linkColor:                 $blue !default;
$linkColorHover:            darken($blue, 10%) !default;


// Typography
// -------------------------

$sans:                      sans-serif !default;
$serif:                     serif !default;

$thin:                      100 !default;
$ultraLight:                200 !default;
$light:                     300 !default;
$regular:                   400 !default;
$medium:                    500 !default;
$semi:                      600 !default;
$bold:                      700 !default;
$ultraBold:                 800 !default;
$black:                     900 !default;

$baseLineHeight:            20px !default;

$font-default: "MPLUS1p", $sans;
$font-accent: "Noticia", $sans;

// Borders
// -------------------------
$borderColor:               $black !default;



// Buttons
// -------------------------
$btnAccentBackground:             $blue !default;
$btnAccentBackgroundPressed:      darken($blue, 5%) !default;
$btnDisabledBackground:           #F4F7F9 !default;
$btnDisabledColor:                #CDD7E0 !default;

//Grid

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1180px
);

$grid-columns:                12;
$grid-gutter-width:           30px;
$grid-row-columns:            6;

