$color__purple-1: #F61067;
$color__purple-2: #5E239D;
$color__purple-3: #3A0475;
$color__purple-4: #30124E;
$color__purple-5: #150433;
$color__turquoise-1: #00F0B5;
$color__turquoise-2: #6DECAF;
$color__turquoise-3: #FCFCFC;
$color__turquoise-4: #F4F4ED;
$color__gray-1: #30233D;
$color__gray-2: #776C82;
$color__gray-3: #9B94A3;
$color__red: #F0002B;
$color__green: #10F65E;
$color__yellow: #F67110;
$color__blue: #00A8F0;


$font-default: 'M PLUS 1p' sans-serif;
$font-accent: 'Noticia Text', sans-serif;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;
