<%= require('html-loader!./includes/header.html') %>

<main class="main main__team">
    <section class="section__hero">
        <div class="hero">
            <div class="hero__bg">
                <img src="/static/img/team/Rectangle.png" alt="" class="hero__img">
            </div>
            <div class="hero__content">
                <div class="container">
                    <div class="hero__title title title-xl">
                        <h3 class="">
                            Our team
                        </h3>
                    </div>
                    <div class="hero__text text text-l">
                        <p class="">
                            We build great business
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section__info">
//700px height


    </section>
</main>

<%= require('html-loader!./includes/footer.html') %>
