<%= require('html-loader!./includes/header.html') %>

<main class="main main__team">
    <section class="section__hero">
        <div class="hero">
            <div class="hero__bg">
                <img src="/static/img/team/Rectangle.png" alt="" class="hero__img">
            </div>
            <div class="hero__content">
                <div class="container">
                    <h3 class="hero__title title title-xl">
                        Our team
                    </h3>
                    <p class="hero__text text text-l">
                        We build great business
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section__info">
        <div class="container">
            <div class="info">
                <div class="info__content">
                    <p class="text text-xs info__slogan">
                        We are
                    </p>
                    <h3 class="title title-l info__title">
                        Our team
                    </h3>
                    <p class="text text-l info__text">
                        Upper prior hundred links approach reedy, was to the than
                        and the ever somehow surprised known for every by of
                        there until road,
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section__team">
        <div class="team">
            <div class="container">
                <div class="team__member">
                    <div class="row">
                        <div class="member">
                            <div class="member__avatar avatar">
                                <img src="/static/img/team/person1.png" class="avatar__img" alt="">
                            </div>
                            <div class="member__content">
                                <p class="member__name text text-xxl">
                                    Kerry Lorem
                                </p>
                                <p class="member__position text text-xs">
                                    Designer
                                </p>
                                <div class="member__social social">
                                    <img src="/static/icons/twitter.svg" class="social__img" alt="">
                                    <img src="/static/icons/ball.svg" class="social__img" alt="">
                                    <img src="/static/icons/cube.svg" class="social__img" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="member">
                            <div class="member__avatar avatar">
                                <img src="/static/img/team/person2.png" class="avatar__img" alt="">
                            </div>
                            <div class="member__content">
                                <p class="member__name text text-xxl">
                                    Kerry Lorem
                                </p>
                                <p class="member__position text text-xs">
                                    Designer
                                </p>
                                <div class="member__social social">
                                    <img src="/static/icons/twitter.svg" class="social__img" alt="">
                                    <img src="/static/icons/ball.svg" class="social__img" alt="">
                                    <img src="/static/icons/cube.svg" class="social__img" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="member">
                            <div class="member__avatar avatar">
                                <img src="/static/img/team/person3.png" class="avatar__img" alt="">
                            </div>
                            <div class="member__content">
                                <p class="member__name text text-xxl">
                                    Kerry Lorem
                                </p>
                                <p class="member__position text text-xs">
                                    Designer
                                </p>
                                <div class="member__social social">
                                    <img src="/static/icons/twitter.svg" class="social__img" alt="">
                                    <img src="/static/icons/ball.svg" class="social__img" alt="">
                                    <img src="/static/icons/cube.svg" class="social__img" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="member">
                            <div class="member__avatar avatar">
                                <img src="/static/img/team/person4.png" class="avatar__img" alt="">
                            </div>
                            <div class="member__content">
                                <p class="member__name text text-xxl">
                                    Kerry Lorem
                                </p>
                                <p class="member__position text text-xs">
                                    Designer
                                </p>
                                <div class="member__social social">
                                    <img src="/static/icons/twitter.svg" class="social__img" alt="">
                                    <img src="/static/icons/ball.svg" class="social__img" alt="">
                                    <img src="/static/icons/cube.svg" class="social__img" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="member">
                            <div class="member__avatar avatar">
                                <img src="/static/img/team/person5.png" class="avatar__img" alt="">
                            </div>
                            <div class="member__content">
                                <p class="member__name text text-xxl">
                                    Kerry Lorem
                                </p>
                                <p class="member__position text text-xs">
                                    Designer
                                </p>
                                <div class="member__social social">
                                    <img src="/static/icons/twitter.svg" class="social__img" alt="">
                                    <img src="/static/icons/ball.svg" class="social__img" alt="">
                                    <img src="/static/icons/cube.svg" class="social__img" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="member">
                            <div class="member__avatar avatar">
                                <img src="/static/img/team/person6.png" class="avatar__img" alt="">
                            </div>
                            <div class="member__content">
                                <p class="member__name text text-xxl">
                                    Kerry Lorem
                                </p>
                                <p class="member__position text text-xs">
                                    Designer
                                </p>
                                <div class="member__social social">
                                    <img src="/static/icons/twitter.svg" class="social__img" alt="">
                                    <img src="/static/icons/ball.svg" class="social__img" alt="">
                                    <img src="/static/icons/cube.svg" class="social__img" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<%= require('html-loader!./includes/footer.html') %>
