<%= require('html-loader!./includes/header.html') %>

<main class="main main__team">
    <section class="section__hero">
        <div class="hero">
            <div class="hero__bg">
                <img src="/static/img/team/Rectangle.png" alt="" class="hero__img">
            </div>
            <div class="hero__content">
                <div class="container">
                    <div class="hero__title title title-xl">
                        <h3 class="">
                            Our team
                        </h3>
                    </div>
                    <div class="hero__text text text-l">
                        <p class="">
                            We build great business
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section__info">
        <div class="container">
            <div class="info">
                <div class="info__content">
                    <div class="info__slogan">
                        <p class="text text-xs">
                            WE are
                        </p>
                    </div>
                    <div class="info__title">
                        <h3 class="title title-l">
                            Our team
                        </h3>
                    </div>
                    <div class="info__text">
                        <p class="text text-l">
                            Upper prior hundred links approach reedy, was to the than
                            and the ever somehow surprised known for every by of
                            there until road,
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<%= require('html-loader!./includes/footer.html') %>
