//--------- hero
.section__hero {
  min-height: 360px;

  .hero__bg {
    background-color: $secondary_100;
    position: absolute;
  }

  .hero__img {
    mix-blend-mode: multiply;
  }
}

.hero__content {
  padding-top: 100px;
  z-index: 2;
  position: relative;

  .hero__title {
    color: $primary;
    padding-top: 12px;
    padding-bottom: 35px;
  }

  .hero__text {
    color: $LightGrey;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
}

//--------- hero --> media
.section__hero {
  @include media-breakpoint-down(lg) {
    .hero__content {
      padding-top: 10px;
    }
    .hero__title {
      padding-bottom: 0;
      padding-top: 0;
    }
  }
  @include media-breakpoint-down(md) {
    .hero__content {
      text-align: center;
    }
  }
  @include media-breakpoint-down(sm) {
    .hero__title {
      font-size: 1.3em;
    }
    .hero__text {
      font-size: 0.7em;
    }
  }
}

//--------- info
.section__info {
}

.info {
  min-height: 700px;
  display: flex;
  justify-content: center;

  &__content {
    max-width: 560px;
    padding: 175px 10px 10px;
    text-align: center;
  }
}

.info__slogan {
  color: $primary;
  letter-spacing: 6px;
  padding-bottom: 13px;
}

.info__title {
  color: $TextHeaders;
  letter-spacing: 3px;
  padding-bottom: 25px;
}

.info__text {
  color: $TextHeaders;
  letter-spacing: 1px;
}

//--------- info -->media

.section__info {
  @include media-breakpoint-down(lg) {

  }
  @include media-breakpoint-down(md) {

  }
  @include media-breakpoint-down(sm) {

  }
}