//--------- hero
.section__hero {
}

.hero {
  position: relative;
  height: 360px;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: $secondary_100;
  }

  &__img {
    mix-blend-mode: multiply;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__content {
    position: relative;
    z-index: 2;
    padding-top: 100px;
  }

  &__title {
    color: $primary;
    padding-top: 12px;
    padding-bottom: 35px;
  }

  &__text {
    color: $LightGrey;
    letter-spacing: 5px;
  }
}

//--------- hero --> media
.section__hero {
  @include media-breakpoint-down(lg) {
    .hero__content {
      padding-top: 10px;
    }
    .hero__title {
      padding-bottom: 0;
      padding-top: 0;
    }
  }
  @include media-breakpoint-down(md) {
    .hero__content {
      text-align: center;
    }
  }
  @include media-breakpoint-down(sm) {
    .hero__title {
      font-size: 1.3em;
    }
    .hero__text {
      font-size: 0.7em;
    }
  }
}

//--------- info
.section__info {
}

.info {
  min-height: 700px;
  display: flex;
  justify-content: center;

  &__content {
    max-width: 560px;
    padding: 180px 10px 10px;
    text-align: center;
  }
}

.info__slogan {
  color: $primary;
  letter-spacing: 6px;
  padding-bottom: 13px;
}

.info__title {
  color: $TextHeaders;
  letter-spacing: 3px;
  padding-bottom: 25px;
}

.info__text {
  color: $TextHeaders;
  letter-spacing: 1px;
}

//--------- info -->media

.section__info {
  @include media-breakpoint-down(lg) {
    .info {
      min-height: 300px;
    }
    .info__content {
      padding: 30px 10px 10px;
    }
  }
  @include media-breakpoint-down(md) {
    .info__content {
      padding: 25px 10px 10px;
    }
    .info__slogan {
      padding-bottom: 5px;
    }
    .info__title {
      padding-bottom: 5px;
    }
  }
  @include media-breakpoint-down(sm) {
    .info__slogan {
      font-size: 1.3em;
    }
    .info__title {
      font-size: 1.3em;
    }
    .info__text {
      font-size: 0.7em;
    }
  }
}

//--------- team

.section__team {
}

.team { //1080 - height
  background-color: $secondary_400;
  position: relative;
}

.team__member {
  position: relative;
  top: -115px;
}

.member {
  width: 33%;
  text-align: center;

  &__avatar {
    width: 262px;
    height: 262px;
    border-radius: 50%;
    margin: 0 auto;
  }
}

.member__content {

  .member__name {
    color: $WhiteGrey;
  }

  .member__position {
    color: $WhiteGrey;
    opacity: 0.5;
  }

  .member__social {

  }
}






















